@use "module.scss" as m;
@use "functions" as f;


@mixin article-style($color, $border-color, $font-size) {
  border: f.font(2px) solid $border-color;
  color: $color;
  border-color: $border-color;
  font-size:$font-size;
  text-align: center;
}

.exercise {
  border: f.font(2px) solid red;
  display: flex;
  flex-direction: column;
  align-items: center;

  .exercise-title {
    @include article-style(m.$color2, m.$color4, f.font(24px));
    border-bottom: f.font(2px) solid m.$color3;
    width: f.font(230px);
  }
  section {
    display: flex;
    margin: f.font(2px);
  }
}

.article-style1 {
  @include article-style(m.$color3, m.$color2, f.font(16px));

}
.article-style2 {
  @include article-style(m.$color1, m.$color2, f.font(16px));

}

.footer {
  @include article-style(m.$color3, m.$color2, f.font(24px));
  padding: f.font(10px);
}
