:root{
    background-color: #000344;
    width: 300px;
    height: 300px;
    background-color: #158520;
    border-radius: 50px;
}

body {
    background-color: #011212;
}

.ball {
    width: 100px;
    height: 100px;
    background-color: #ff8800;
    border-radius: 50px;
}
